<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css", href="/about.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
    </head>

    <body>

        
        <header>
            <h2 class="logo">About me</h2>
            <nav class="navigation">
                <a href="/homepage">Home</a>
                <a href="#">About</a>
                <a href="/blog">Blog</a> 
                <a href="/marketplace">Marketplace</a>
            </nav>
        </header>

        <div class="container">
            <section class="about">
                <div class="about-image">
                    <img src="/images/yo.jpg">
                </div>
                <div class="about-content">
                    <p>Hola me llamo María!</p>

                    <br>

                    <p>I grew up in Chile but have been living in Canada for the past few years. One of the things I miss most is the food from back home. Unfortunately, there are not many Chilean restaurants in Canada. Sometimes I try to cook traditional recipes with my mom on video call… with varying success!</p>

                    <br>

                    <p>From this came the inspiration behind my website <strong>Patria</strong>. Patria means “homeland” in Spanish, and the goal is for everyone to feel like they’re in their homeland when they visit this website. The Blog section allows people to share their traditional recipes and bounce ideas off of one another. The Marketplace section allows people to buy and sell home-cooked meals.</p>

                    <br>

                    <p>This website is still in its infancy so any feedback is welcome at <a href="mailto:Maria.Paredes@torontomu.ca" style="color: #8d9b6a">Maria.Paredes@torontomu.ca</a></p>

                    <p>Thank you for visiting and Buen Provecho!</p>
                </div>

            </section>

        </div>
    </body>
</html>